<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.androidprogramming_project_smartmenu" >
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".StartActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".MenuChoose"
            android:label="MenuChoose">
        </activity>
        <activity
            android:name=".MenuManage"
            android:label="MenuManage">
        </activity>
        <activity
            android:name=".MenuEnroll"
            android:label="MenuEnroll">
        </activity>
        <activity
            android:name=".GameChoose"
            android:label="GameChoose">
        </activity>
        <activity
            android:name=".GameStart"
            android:label="GameOver">
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Game">
        </activity>
        <activity
            android:name=".GameOver"
            android:label="GameOver">
        </activity>
        <activity
            android:name=".GameLotto"
            android:label="GameOver">
        </activity>
        <activity
            android:name=".TodayMenu"
            android:label="TodayMenu">
        </activity>
        <activity
            android:name=".Webview"
            android:label="Webview">
        </activity>
    </application>
</manifest>
